# Hackathon - Flatiron October Cohort
## Saturday, January 26, 2019
### Andrew Wester

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.preprocessing import LabelEncoder

from IPython.display import Image
from sklearn import svm
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier, RandomForestClassifier
from sklearn.externals.six import StringIO
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.metrics import accuracy_score, auc, classification_report, confusion_matrix, f1_score 
from sklearn.metrics import make_scorer, recall_score, roc_curve
from sklearn.model_selection import cross_val_score, GridSearchCV, train_test_split
from sklearn.preprocessing import MinMaxScaler, RobustScaler, StandardScaler, OneHotEncoder
from sklearn.tree import DecisionTreeClassifier, export_graphviz

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
customerID          7043 non-null object
gender              7043 non-null object
SeniorCitizen       7043 non-null int64
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [4]:
df.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

# Column information and Values
* customerID can likely be dropped **DROP**
* gender is normal
* SeniorCitizen is binary (0 or 1)
* Partner is Yes or No values
* Dependents is Yes or No values
* tenure is values ranging from 0 to 72
* PhoneService is yes or no values
* MultipleLines is Yes, No, or "No phone service"
* InternetService is Fiber optic, DBL, or No
* OnlineSecurity is No, Yes, or "No internet service"
* OnlineBackup is No, Yes, or "No internet servie"
* DeviceProtection is No, Yes, or "No internet service"
* TechSupport is No, Yes, or "No internet service"
* StreamingTV is No, Yes, or "No internet service"
* StreamingMovies is No, Yes, or "No internet service"
* Contract is Month-to-month, Two year, or One year
* PaperlessBilling is Yes or No
* PaymentMethod is Electronic check, Mailed check, Bank transfer (automatic), Credit card (automatic)
* MonthlyCharges is from 18.25 to 118.75
* TotalCharges is 
* Churn is a No or Yes value (OUR TARGET)

In [5]:
df.drop(columns=['customerID'], inplace=True)

In [6]:
df.gender = df['gender'].map({'Male':1, 'Female':0})
df.Partner = df['Partner'].map({'Yes':1, 'No':0})
df.Dependents = df['Dependents'].map({'Yes':1, 'No':0})
df.PhoneService = df['PhoneService'].map({'Yes':1, 'No':0})
df.PaperlessBilling = df['PaperlessBilling'].map({'Yes':1, 'No':0})
df.MultipleLines = df['MultipleLines'].map({'Yes':1, 'No':0, 'No phone service': 2})
df.InternetService = df['InternetService'].map({'Fiber optic':2, 'DSL':1, 'No':0})
df.OnlineSecurity = df['OnlineSecurity'].map({'No':0, 'Yes':1, 'No internet service':2})
df.OnlineBackup = df['OnlineBackup'].map({'No':0, 'Yes':1, 'No internet service':2})
df.DeviceProtection = df['DeviceProtection'].map({'No':0, 'Yes':1, 'No internet service':2})
df.TechSupport = df['TechSupport'].map({'No':0, 'Yes':1, 'No internet service':2})
df.StreamingTV = df['StreamingTV'].map({'No':0, 'Yes':1, 'No internet service':2})
df.StreamingMovies = df['StreamingMovies'].map({'No':0, 'Yes':1, 'No internet service':2})
df.Contract = df['Contract'].map({'Month-to-month':0, 'Two year':2, 'One year':1})
df.Churn = df['Churn'].map({'Yes':1, 'No':0})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
gender              7043 non-null int64
SeniorCitizen       7043 non-null int64
Partner             7043 non-null int64
Dependents          7043 non-null int64
tenure              7043 non-null int64
PhoneService        7043 non-null int64
MultipleLines       7043 non-null int64
InternetService     7043 non-null int64
OnlineSecurity      7043 non-null int64
OnlineBackup        7043 non-null int64
DeviceProtection    7043 non-null int64
TechSupport         7043 non-null int64
StreamingTV         7043 non-null int64
StreamingMovies     7043 non-null int64
Contract            7043 non-null int64
PaperlessBilling    7043 non-null int64
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null int64
dtypes: float64(1), int64(17), object(2)
memory usage: 1.1+ MB

In [7]:
#df['TotalCharges'] = df.TotalCharges.to_numeric()
df.drop(columns='TotalCharges', inplace=True)

In [8]:
df = pd.get_dummies(df)
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,StreamingTV,StreamingMovies,Contract,PaperlessBilling,MonthlyCharges,Churn,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,0,1,0,1,0,2,1,0,1,...,0,0,0,1,29.85,0,0,0,1,0
1,1,0,0,0,34,1,0,1,1,0,...,0,0,1,0,56.95,0,0,0,0,1
2,1,0,0,0,2,1,0,1,1,1,...,0,0,0,1,53.85,1,0,0,0,1
3,1,0,0,0,45,0,2,1,1,0,...,0,0,1,0,42.30,0,1,0,0,0
4,0,0,0,0,2,1,0,2,0,0,...,0,0,0,1,70.70,1,0,0,1,0

In [9]:
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
gender                                     7043 non-null int64
SeniorCitizen                              7043 non-null int64
Partner                                    7043 non-null int64
Dependents                                 7043 non-null int64
tenure                                     7043 non-null int64
PhoneService                               7043 non-null int64
MultipleLines                              7043 non-null int64
InternetService                            7043 non-null int64
OnlineSecurity                             7043 non-null int64
OnlineBackup                               7043 non-null int64
DeviceProtection                           7043 non-null int64
TechSupport                                7043 non-null int64
StreamingTV                                7043 non-null int64
StreamingMovies                            7043 non-null int64
Contract                                   7043 non-null int64
PaperlessBilling                           7043 non-null int64
MonthlyCharges                             7043 non-null float64
Churn                                      7043 non-null int64
PaymentMethod_Bank transfer (automatic)    7043 non-null uint8
PaymentMethod_Credit card (automatic)      7043 non-null uint8
PaymentMethod_Electronic check             7043 non-null uint8
PaymentMethod_Mailed check                 7043 non-null uint8
dtypes: float64(1), int64(17), uint8(4)
memory usage: 1018.0 KB
None

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,StreamingTV,StreamingMovies,Contract,PaperlessBilling,MonthlyCharges,Churn,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,0,1,0,1,0,2,1,0,1,...,0,0,0,1,29.85,0,0,0,1,0
1,1,0,0,0,34,1,0,1,1,0,...,0,0,1,0,56.95,0,0,0,0,1
2,1,0,0,0,2,1,0,1,1,1,...,0,0,0,1,53.85,1,0,0,0,1
3,1,0,0,0,45,0,2,1,1,0,...,0,0,1,0,42.30,0,1,0,0,0
4,0,0,0,0,2,1,0,2,0,0,...,0,0,0,1,70.70,1,0,0,1,0

In [10]:
scaler = StandardScaler()
scaled_df = pd.DataFrame(scaler.fit_transform(df))
scaled_df.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,-1.009559,-0.439916,1.034530,-0.654012,-1.277445,-3.054010,2.110535,-0.286223,-0.903589,0.284912,...,-1.071457,-1.07821,-0.828207,0.829798,-1.160323,-0.601023,-0.529885,-0.525047,1.406418,-0.544807
1,0.990532,-0.439916,-0.966622,-0.654012,0.066327,0.327438,-0.938280,-0.286223,0.351386,-0.999747,...,-1.071457,-1.07821,0.371271,-1.205113,-0.259629,-0.601023,-0.529885,-0.525047,-0.711026,1.835513
2,0.990532,-0.439916,-0.966622,-0.654012,-1.236724,0.327438,-0.938280,-0.286223,0.351386,0.284912,...,-1.071457,-1.07821,-0.828207,0.829798,-0.362660,1.663829,-0.529885,-0.525047,-0.711026,1.835513
3,0.990532,-0.439916,-0.966622,-0.654012,0.514251,-3.054010,2.110535,-0.286223,0.351386,-0.999747,...,-1.071457,-1.07821,0.371271,-1.205113,-0.746535,-0.601023,1.887201,-0.525047,-0.711026,-0.544807
4,-1.009559,-0.439916,-0.966622,-0.654012,-1.236724,0.327438,-0.938280,0.997769,-0.903589,-0.999747,...,-1.071457,-1.07821,-0.828207,0.829798,0.197365,1.663829,-0.529885,-0.525047,1.406418,-0.544807

In [11]:
features = df.drop(columns='Churn')
target = df.Churn
print(features.shape, target.shape)

(7043, 21) (7043,)

In [12]:
X_train, X_test, y_train, y_test = train_test_split(features, target, random_state=25)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((5282, 21), (1761, 21), (5282,), (1761,))

In [13]:
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [14]:
y_pred = dt.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[1051,  231],
       [ 231,  248]])

In [15]:
train_pred = dt.predict(X_train)
confusion_matrix(y_train, train_pred)

array([[3892,    0],
       [  10, 1380]])